*.iml
*.lock
*.log
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.jks
*.p8
*.key
*.mobileprovision
*.orig.*
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
android/key.properties
ios/fastlane/
macos/
linux/
windows/
web/
